ion-tabs {
    background-color: var(--lightDark-BgColor);
    
    ion-tab-bar {
        margin: 2px;
        background-color: var(--lightDark-BgColor);
        border: 1px solid rgb(198, 198, 198);
    }
    
    ion-tab-button {
        --color: var(--lightDark-color);
        --color-selected: var(--primary-color);
        --ripple-color: var(--primary-color);
        background-color: var(--lightDark-BgColor);
    
        ion-icon {
            color: var(--lightDark-tabsIcon);
            font-size: 1.2rem;
            margin-bottom: 2px;
        }
        &.tab-selected ion-icon {
            color: var(--color-selected);
        }
        ion-label {
            font-size: .6rem;
            font-weight: bold;
        }
    }
}

