<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Translator
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  
  <div id="content">
    <div class="header">
      <ion-icon name="chevron-back-circle-outline"></ion-icon>
      <ion-icon name="contrast-outline" (click)="toggle_lightDarkMode()"></ion-icon>
    </div>
    <div class="title">
      <ion-icon name="checkmark-circle-outline"></ion-icon>
      <h2>Translator</h2>
    </div>
    <div id="traduzir">
      <div id="traduzir_linguagens">
        <ion-select [(ngModel)]="linguagemPadrao1"
            [interfaceOptions]="{subHeader: 'Selecione uma linguagem', message: 'A ser traduzida'}" 
            interface="popover" placeholder="Selecione">
          <ion-select-option value="português">Português</ion-select-option>
          <ion-select-option value="inglês">Inglês</ion-select-option>
          <ion-select-option value="espanhol">Espanhol</ion-select-option>
        </ion-select>
        <ion-icon name="repeat-outline"></ion-icon>
        <ion-select [(ngModel)]="linguagemPadrao2"
            [interfaceOptions]="{subHeader: 'Selecione uma linguagem', message: 'A ser traduzida'}" 
            interface="popover" placeholder="Selecione">
          <ion-select-option value="português">Português</ion-select-option>
          <ion-select-option value="inglês">Inglês</ion-select-option>
          <ion-select-option value="espanhol">Espanhol</ion-select-option>
        </ion-select>
      </div>
      <div id="traduzir_box">
        <span id="traduz">{{ text }}<!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia asperiores dolorem laborum quaerat repellat nemo doloribus animi architecto delectus corrupti? Veniam molestiae assumenda temporibus id aliquid tempore saepe vitae esse. --></span>
        <span id="traduzido">
          {{ translatedText }}<!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia asperiores dolorem laborum quaerat repellat nemo doloribus animi architecto delectus corrupti? Veniam molestiae assumenda temporibus id aliquid tempore saepe vitae esse. -->
        </span>
        <div id="traduzir_box_footer">
          <span class="icones_traducao" (click)="copyText()">
            <ion-icon slot="start" name="copy-outline"></ion-icon>
          </span>
          <span class="icones_traducao" (click)="shareTranscription()">
            <ion-icon slot="start" name="share-social-outline"></ion-icon>
          </span>
          <span class="icones_traducao" (click)="saveTextAsPDF()">
            <ion-icon slot="start" name="download"></ion-icon>
          </span>
          <span class="icones_traducao" (click)="toggleText()">
            <ion-icon slot="start" name="volume-high-outline"></ion-icon>
          </span>
          <span id="btn_deleta" class="icones_traducao" (click)="reset()">
            <ion-icon slot="start" name="refresh-outline"></ion-icon>
          </span>
          <span id="btn_salva" class="icones_traducao btn_save" (click)="presentConfirmationAlert('save')">
            Salvar <ion-icon slot="start" name="add-circle-outline"></ion-icon>
          </span>
        </div>
      </div>

      <!-- <ion-button (click)="startListening()">Iniciar</ion-button>
      <ion-button (click)="stopListening()">Parar</ion-button> -->
      <div id="micWave">
        <span class="microfone" (click)="startListening()">
          <ion-icon slot="start" name="mic"></ion-icon>
        </span>
        <!-- <canvas width="400" height="100"></canvas> -->
        <canvas id="audioCanvas" width="200px" height="100px"></canvas>
        <span class="microfone pause" (click)="stopListening()">
          <ion-icon slot="start" name="square"></ion-icon>
        </span>
      </div>
      <!-- <ion-fab horizontal="center" vertical="bottom">
        <canvas id="audioCanvas" width="200px" height="100px"></canvas>
        <ion-fab-button (pointerdown)="startListening()" (pointerup)="stopListening()">
          <ion-icon name="mic"></ion-icon>
        </ion-fab-button>
      </ion-fab> -->
    </div>
    
    <!-- <div id="wave-container">
      <div id="wave"></div>
    </div> -->
  </div>

  <!-- <div class="ion-padding">
    <ion-button (click)="startListening()">Iniciar</ion-button>
    <ion-button (click)="stopListening()">Parar</ion-button>
    <p>{{ text }}</p>
  </div> -->
</ion-content>