<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Translator
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  
  <div id="content">
    <div class="header">
      <ion-icon name="chevron-back-circle-outline"></ion-icon>
      <ion-icon name="contrast-outline" (click)="toggle_lightDarkMode()"></ion-icon>
    </div>
    <div class="title">
      <ion-icon name="person-circle-outline"></ion-icon>
      <h2>Profile</h2>
    </div>
    <div id="transcricoes">
      <ng-container *ngIf="transcricoes.length > 0">
        <div class="transcricao" *ngFor="let transcricao of transcricoes">
            <div class="transcricao_gravacao">
              <div class="gravacao">
                <span>{{ transcricao.duracaoDia }}</span>
                <span>Duração: {{ transcricao.duracao }}</span>
                <!-- <span>1:46</span> -->
              </div>
              <div class="dia">
                <!-- <span>Hoje</span> -->
                <span>{{ transcricao.texto }}</span>
              </div>
            </div>
            <div class="transcricao_mensagem">
              <div class="mensagem">
                <span class="btn_mensagem" (click)="saveTextAsPDF(transcricao.id)">
                  Exportar <ion-icon slot="start" name="download"></ion-icon>
                </span>
                <span class="btn_mensagem" (click)="openModal(transcricao.id)">
                  Feedback <ion-icon slot="start" name="pulse"></ion-icon>
                </span>
                <span class="btn_mensagem" (click)="toggleText(transcricao.id)">
                  Ouvir <ion-icon slot="start" name="volume-high-outline"></ion-icon>
                </span>
              </div>
            </div>
        </div>
      </ng-container>
    </div>
  </div>

</ion-content>